@model CoffeeBranch.Models.Menu

@{
    ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">Edit</h1>

<h4 style="text-align:center">Menu</h4>
<hr />
<div class="row"  style="font-family:cursive;">
    <div class="col-md-4" style="background-color:blanchedalmond;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlavourType" class="control-label"></label>
                <input asp-for="FlavourType" class="form-control" />
                <span asp-validation-for="FlavourType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchId" class="control-label"></label>
                <select asp-for="BranchId" class="form-control" asp-items="ViewBag.BranchId"></select>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
